.page{
	background: #f5f5f5;
	margin: 0px;
	padding: 0px;
	margin-top: 20px;
}

.app__main-win{
	margin: auto;
	margin-top: 50px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 500px;
	height: 100px;
}

.main-win__text{
	font-size: 20pt;
	font-weight: bold;
}

.main-win__button{
	border-radius: 3px;
	font-size: 15pt;
	width: 100px;
	background: #f94;
	padding: 8px 10px;
}

.main-win__button:hover{
	background: #fa9;
}

.app__win-slider{
	margin: auto;
	width: 500px;
	height: 500px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.win-slider__slider{
	width: 100%;
	height: 300px;
	display: flex;
	justify-content: space-between;
}
.slider__slide{
  width: 420px;
  display: flex;
  justify-items: center;
  align-items: center;
}

.slider__picture-box{
  margin: auto;
  max-width: 420px;
  max-height: 300px;
}

.win-slider__button{
	margin-top: 50px;
	text-align: center;
	border-radius: 3px;
	font-size: 15pt;
	width: 100px;
	background: #f94;
	padding: 8px 10px;
}

.win-slider__button:hover{
	background: #fa9;
}

.win-slider__slide-mode{
	margin-top: 20px;
	width: 100%;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	word-wrap: wrap;
}

.slide-mode__button{
	padding: 10px 10px;
	text-align: center;
	color: white;
	font-weight: bold;
	width: 100px;
	background: #335;
	border-radius: 3px;
	margin: 0px 10px;
}

.slide-mode__button:hover{
	background: #557;
}
